.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.titlecolor{
    color: rgba(174, 30, 30, 0.982);;
}

.btn{
    padding:7px 12px;
    border: 3px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(221, 210, 210);
    background-color: rgb(163, 78, 52);;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}
.navcolor{
    background-color: rgb(231, 245, 245);
}
body{
    background-color: azure;
}
.btn1{
    padding:5px 8px;
    border: 2px solid rgb(150, 93, 28);
    border-radius: 6px;
    cursor: pointer;
    color: rgb(184, 46, 46);
    background-color: rgba(170, 160, 157, 0);;
}
